<h1>Create A New List</h1>

<form>
  <label>Title
  <input type="text" name="list[title]">
  </label>

  <label>Rank
  <input type="number" name="list[rank]">
  </label>

  <input type="submit" value="Create List">
</form>